.title {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-around;
}

.GameHistory {
  flex: 0 0 300px;
  display: inline-block;
}

.GameBoard {
  margin-left: 15px;
  display: inline-block;
}

.GameBoard button {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  width: 40px;
  height: 40px;
  font-weight: bold;
}

.GameBoard button:not(:disabled) {
  background-color: lightgreen;
}
.GameBoard button:not(:disabled):first-child {
  background-color: lightcoral;
}

.shadow-link,
.shadow-link * {
  font-family: monospace;
  color: #222;
  margin: 5px;
}

.shadow-link:hover,
.shadow-link *:hover {
  color: blue;
}